@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
@import "tailwindcss";

@layer theme {
  :root {
    --font-sans: "Tajawal", sans-serif;
    --main-color:#35557C;
    --secondary-color:#00A6A6;
    --third-color:#D9D9D9;
    --white-color:#FFFFFF;

  }}
@layer utilities {
  .container{
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
  }
  .bg-main-color {
    background-color: var(--main-color);
  }
  .accent-main-color{
    accent-color: var(--main-color);
  }
  .btn:hover{
    transform: scale(1.1);
  }
  .bg-second-color {
    background-color: var(--secondary-color);
  }
  .bg-third-color {
    background-color: var(--third-color);
  }
  .text-main-color {
    color: var(--main-color);
  }
  .text-second-color {
    color: var(--secondary-color);
  }
  .border-main-color {
    border-color: var(--main-color);
  }
  .border-second-color {
    border-color: var(--secondary-color);
  }
  .section-bg{
    background-color: var(--third-color);
  }
  .scene-bg{
    background-image: url('./assets/images/blob-scene-haikei.png');
    background-size: cover;
  }
  .wave-bg{
    background-image: url('./assets/images/wave-haikei.png');
    background-size: cover;
  }

}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Tajawal", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: rtl;
}
* {
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
} 
@media(min-width: 768px){
    .container{
      width: 800px;
    }
  }
  @media(min-width: 992px){
    .container{
      width: 1000px;
    }
  }
  @media(min-width: 1200px){
    .container{
      width: 1200px;
    }
  } 